@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.6%;
  font-family: "Poppins", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

:root {
  --white-clr: #fff;
  --black-clr: #000;
  --primary-clr: #e6303d;
  --secondary-color: #eee;
  --light-black: #333;
  --tag-clr: #7cc576;
}

/* Basic Styling */
a {
  text-decoration: none;
}
a:hover {
  color: var(--primary-clr);
}

.container {
  width: 80%;
  margin: auto;
}

.flex {
  display: flex;
  align-items: center;
}

li {
  list-style: none;
}

.section {
  /* margin-top: 6.4rem; */
  padding-top: 6.4rem;
}

.wrap {
  flex-wrap: wrap;
}

.secondary-bg {
  background-color: var(--secondary-color);
  padding-block: 3.5rem;
}

.line {
  width: 60px;
  height: 2.5px;
  background-color: var(--primary-clr);
  margin: auto;
}

.heading-h2 {
  font-size: 3.2rem;
  font-weight: 500;
  text-align: center;
  color: var(--light-black);
  line-height: 6.4rem;
}

/* Navbar Styling */

header {
  background-color: var(--white-clr);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 5px 14.25px 0.75px rgba(36, 11, 12, 0.05);
  z-index: 100;
}

nav {
  height: 12vh;
  justify-content: space-between;
}
.logo {
  color: var(--light-black);
  font-weight: 900;
  font-size: 2.8rem;
}

span,
.active-option,
.active-icon {
  color: var(--primary-clr) !important;
  /* font-size: 2.8rem; */
}

ul {
  gap: 4rem;
}

.nav-options {
  color: var(--light-black);
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}
.nav-icons {
  gap: 1.2rem;
}

.icons {
  font-size: 2.2rem;
  color: var(--light-black);
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 100%;
}

.icons:hover,
.active-icon {
  background-color: var(--secondary-color);
}

/* Hero Section Styling */
.hero {
  background-image: url(./images/hero-image.jpg);
  height: 115vh;
  margin-top: 8rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero-container {
  height: 100%;
  justify-content: end;
}

h3 {
  font-size: 2.8rem;
  color: var(--light-black);
  font-weight: 500;
  line-height: 1.4;
}

h1 {
  font-size: 6.1rem;
  color: var(--light-black);
  font-weight: 600;
  line-height: 1.4;
}

h4 {
  font-size: 2.2rem;
  color: var(--light-black);
  font-weight: 400;
  line-height: 1.4;
}

.sale-span {
  font-size: 2.2rem;
}

button {
  border: none;
  background-color: var(--primary-clr);
  color: var(--white-clr);
  font-size: 1.4rem;
  padding: 1.2rem 3.5rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 2.4rem;
  transition: all ease-in-out 0.3s;
}

button:hover {
  background: var(--light-black);
}

/* Category Section Styling */

.category-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.7rem;
}

.category:nth-child(1),
.category:nth-child(4) {
  grid-row: 1/3;
}

.category:nth-child(2) {
  grid-row: 1/2;
}

.category {
  position: relative;
  overflow: hidden;
}

.category-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--light-black);
  background-color: var(--white-clr);
  transition: all ease-in-out 0.3s;
  z-index: 3;
}

.category-btn:hover {
  color: var(--white-clr);
  background-color: var(--primary-clr);
}

.category:hover img {
  transform: scale(1.1);
}

.category::before {
  content: "";
  background: var(--white-clr);
  height: 100%;
  width: 0;
  z-index: 2;
  opacity: 0.2;
  visibility: hidden;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.category:hover::before {
  width: 100%;
  visibility: visible;
}

/* New Products Section Styling */

.cards-container {
  margin-top: 4.8rem;
  padding: 0 4.8rem;
  justify-content: center;
}

.card {
  flex: 1;
  padding-block: 5rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
  position: relative;
  margin-bottom: 2rem;

  /* width: 20%; */
}

.card:hover {
  box-shadow: 0px 5px 19px 1px rgba(36, 11, 12, 0.15);
  /* z-index: 3; */
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-title {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--light-black);
  text-align: center;
}

.price-section {
  margin-top: 1.6rem;
}

.amount {
  font-size: 1.6rem;
  color: var(--primary-clr);
  font-weight: 600;
}

del {
  font-size: 1.6rem;
  color: var(--light-black);
  font-weight: 600;
  opacity: 0.3;
}

.card {
  position: relative;
}

.card .buy-btn {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  transform: translateY(1rem);
  visibility: none;
  opacity: 0;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

.card:hover .buy-btn {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

.sale::before,
.new::before {
  position: absolute;
  color: white;
  font-weight: 300;
  padding: 0.3rem 2rem;
  top: 20px;
  left: 20px;
  font-size: 1.5rem;
  /* width: 7.4rem;
  height: 3rem; */
}

.sale::before {
  content: "sale";
  background-color: var(--primary-clr);
}

.new::before {
  content: "new";
  background-color: var(--tag-clr);
}

/* Sale Banner Section Styling */

.sale-banner {
  background-image: url(./images/sale-image.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-block: 8rem;
  text-align: center;
}

.sale-banner h3 {
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 200;
  line-height: 2.5rem;
}

.sale-banner h1 {
  font-size: 5.1rem;
  font-weight: 500;
  line-height: 7.5rem;
}

.sale-banner .line {
  margin: auto;
  width: 15%;
  background: #c5c5c5;
}

.sale-banner h4 {
  line-height: 5.6rem;
  font-size: 1.9rem;
  color: #6e6e6e;
}

/* Best Sale Section Styling */

/* Seconday Information Section Styling */

.boxs-container {
  text-align: center;
}

.secondary-box {
  flex: 1;
}

.secondary-box i {
  color: var(--primary-clr);
  font-size: 2.4rem;
}

h5 a {
  font-size: 1.75rem;
  color: var(--light-black);
  line-height: 3.2rem;
  font-weight: 500;
}

.des {
  color: #6e6e6e;
  font-size: 1.44rem;
  font-weight: 400;
}

/* Blog Section Styling */

.blog-container {
  margin-top: 4.8rem;
  gap: 3.2rem;
}

.blog {
  flex: 1;
  text-align: center;
  position: relative;
}

.blog::before {
  content: "";
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 0;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.blog:hover::before {
  visibility: visible;
  opacity: 1;
  width: 100%;
}

.blog-content .heading a {
  font-size: 2.7rem;
  line-height: 6.4rem;
  font-weight: 400;
  color: var(--secondary-color);
}

.blog-content {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 100%;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.blog-content:hover {
  left: 50%;
  opacity: 1;
}

.blog-link {
  font-size: 1.4rem;
  line-height: 8rem;
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 5px;
  color: var(--primary-clr);
  text-transform: uppercase;
}

/* Form Section Styling */

form {
  gap: 4.8rem;
}

form h3 {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 6rem;
  color: var(--light-black);
}

.social-icons {
  gap: 1rem;
}

.icons i {
  font-size: 1.9rem;
  color: var(--light-black);
}
