@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.6%;
  font-family: "Poppins", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

:root {
  --white-clr: #fff;
  --black-clr: #000;
  --primary-clr: #e6303d;
  --secondary-color: #eee;
  --light-black: #333;
}

/* Basic Styling */
a {
  text-decoration: none;
}
a:hover {
  color: var(--primary-clr);
}

.container {
  width: 80%;
  margin: auto;
}

.flex {
  display: flex;
  align-items: center;
}

li {
  list-style: none;
}

/* Navbar Styling */

header {
  background-color: var(--white-clr);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 5px 14.25px 0.75px rgba(36, 11, 12, 0.05);
}

nav {
  height: 12vh;
  justify-content: space-between;
}
.logo {
  color: var(--light-black);
  font-weight: 900;
  font-size: 2.8rem;
}

span,
.active-option,
.active-icon {
  color: var(--primary-clr) !important;
  /* font-size: 2.8rem; */
}

ul {
  gap: 4rem;
}

.nav-options {
  color: var(--light-black);
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}
.nav-icons {
  gap: 1.2rem;
}

.icons {
  font-size: 2.2rem;
  color: var(--light-black);
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 100%;
}

.icons:hover,
.active-icon {
  background-color: var(--secondary-color);
}
