:root {
  /* Colors */
  --white: #ffffff;
  --yellow: #f6bd26;
  --primary-100: #2179ff;
  --primary-90: #1e6de5;
  --primary-80: #1b61cc;
  --primary-70: #1755b2;
  --primary-40: #0d3166;
  --primary-20: #071833;
  --secondary-100: #21ffff;
  --secondary-20: #073333;
  --neutral-100: #fafcff;
  --neutral-98: #f2f5fa;
  --neutral-95: #e9ecf2;
  --neutral-90: #dadfe5;
  --neutral-80: #c2c6cc;
  --neutral-60: #919499;
  --neutral-50: #797c80;
  --neutral-40: #616366;
  --neutral-30: #494a4d;
  --neutral-20: #303133;
  --neutral-10: #18191a;
  --neutral-5: #0c0c0d;
  --error-100: #ff2134;

  /* Font Family */
  --font-primary: "Montserrat", sans-serif;

  /* Font Size */
  --fs-base: 62.5%;
  --fs-headline-large: 3.6rem;
  --fs-headline-medium: 2.8rem;
  --fs-headline-small: 2.8rem;
  --fs-title-large: 2.2rem;
  --fs-title-medium: 2rem;
  --fs-title-small: 1.8rem;
  --fs-body-large: 1.6rem;
  --fs-body-medium: 1.6rem;
  --fs-label-large: 1.6rem;
  --fs-label-medium: 1.4rem;

  /* Line Height */
  --lh-headline-large: 44px;
  --lh-headline-medium: 36px;
  --lh-headline-small: 36px;
  --lh-title-large: 28px;
  --lh-title-medium: 24px;
  --lh-title-small: 24px;
  --lh-body-large: 24px;
  --lh-body-medium: 24px;
  --lh-label-large: 24px;
  --lh-label-medium: 20px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semiBold: 600;
  --weight-regular: 400;

  /* Letter spacing */
  --traking-n-025: -0.25px;
  --traking-p-05: 0.5px;

  /* Border Radius */
  --radius-small: 8px;
  --radius-medium: 12px;
  --radius-large: 16px;
  --radius-extra-large: 32px;
  --radius-full: 1000px;
  --radius-circle: 50%;

  /* Box Shadow */
  --shadow-1: 0px 2px 4px 0px #00000033;
  --shadow-2: 0px 5px 10px 0px #0000000d;
  --shadow-3: 0px 5px 10px 0px #00000033;
  --shadow-4: 0px 10px 20px 0px #0000001a;

  /* Transition */
  --transition-easing-quick: cubic-bezier(0, 0.7, 0.3, 1);
  --transition-duration-quick: 200ms;
  --transition-duration-smooth: 500ms;

  /* Gradient */
  --gradient: linear-gradient(270deg, #0f4392 0%, #001d3d 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: var(--font-primary);
  font-size: var(--fs-base);
  scroll-behavior: smooth;
}

body {
  background-color: var(--neutral-98);
  color: var(--neutral-5);
  font-size: var(--fs-body-medium);
  line-height: var(--lh-body-medium);
  height: 300vh;
}

/* Basic Styling */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--neutral-90);
}

::-webkit-scrollbar-thumb {
  background: var(--neutral-60);
  border-radius: 4px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  height: auto;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

a,
img,
span,
input,
select,
button {
  display: block;
}

input,
button,
select {
  background: none;
  border: none;
  font: inherit;
}

input,
select {
  width: 100%;
  outline: none;
}

/* Typography */

.headline-large {
  font-size: var(--fs-headline-large);
  line-height: var(--lh-headline-large);
  font-weight: var(--weight-bold);
  letter-spacing: var(--traking-n-025);
}

.headline-medium {
  font-size: var(--fs-headline-medium);
  line-height: var(--lh-headline-medium);
  font-weight: var(--weight-bold);
}

.headline-small {
  font-size: var(--fs-headline-small);
  line-height: var(--lh-headline-small);
  font-weight: var(--weight-bold);
}

.title-large {
  font-size: var(--fs-titile-large);
  line-height: var(--lh-titile-large);
  font-weight: var(--weight-semiBold);
}

.title-medium {
  font-size: var(--fs-titile-medium);
  line-height: var(--lh-titile-medium);
  font-weight: var(--weight-semiBold);
}

.title-small {
  font-size: var(--fs-titile-small);
  line-height: var(--lh-titile-small);
  font-weight: var(--weight-semiBold);
}

.body-large {
  font-size: var(--fs-body-large);
  line-height: var(--lh-body-large);
  font-weight: var(--weight-regular);
}

.body-medium {
  font-size: var(--fs-body-medium);
  line-height: var(--lh-body-large);
  font-weight: var(--weight-regular);
}

.label-medium {
  font-size: var(--fs-label-medium);
  line-height: var(--lh-label-medium);
  font-weight: var(--weight-semiBold);
  letter-spacing: var(--traking-p-05);
}

/* Basics Component */

.container {
  padding-inline: 1.6rem;
  margin-inline: auto;
  max-width: 580px;
  width: 100%;
}

.material-symbols-rounded {
  display: block;
  width: 1em;
  height: 1em;
  overflow: hidden;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.flex {
  display: flex;
  align-items: center;
}

.section {
  padding-block-start: 6rem;
}

.image-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Component */

.nav-icon {
  height: 40px;
  width: 40px;
  background-color: var(--neutral-100);
  border-radius: var(--radius-small);
  box-shadow: var(--shadow-3);
  justify-content: center;
  color: var(--neutral-10);
  transition: var(--transition-duration-quick) var(--transition-easing-quick);
}

.nav-icon:where(:hover, :focus-visible) {
  background-color: var(--neutral-90);
}

.nav-btns {
  width: 100%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.8rem;
  width: 100%;
  gap: 12px;
  border-radius: var(--radius-full);
  padding-inline: 2.4rem;
  transition: var(--transition-duration-quick) var(--transition-easing-quick);
}

.btn-fill {
  background-color: var(--primary-100);
  color: var(--neutral-100);
}

.btn-fill:where(:hover, :focus) {
  background-color: var(--primary-90);
  box-shadow: var(--shadow-1);
}

.btn-fill:where(:active, :focus-visible) {
  background-color: var(--primary-80);
}

.btn-outline {
  box-shadow: inset 0 0 0 2px var(--primary-100);
  color: var(--primary-100);
  display: flex;
}

.btn-outline:hover {
  background: var(--primary-100);
  color: var(--white);
}

.btn-outline:focus {
  background: var(--primary-90);
}

.btn-outline:where(:active, :focus-visible) {
  background: var(--primary-80);
  color: var(--white);
}

.btn-max-content {
  width: max-content !important;
}

/* Navbar Styling */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15vh;
  z-index: 4;
  background-color: var(--primary-40m);
}

.header.active {
  background-color: var(--primary-40);
  height: 11vh;
  animation: slideIn 500ms ease forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-icon .close,
.nav-icon.active .open {
  display: none;
}

.nav-icon.active .close,
.nav-icon .open {
  display: block;
}

.navbar {
  background-color: var(--neutral-100);
  position: absolute;
  top: 85%;
  right: 1.6rem;
  border-radius: var(--radius-large);
  padding: 10px;
  min-width: 26rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition-duration-quick) var(--transition-easing-quick);
  transform: scale(0.4);
  visibility: hidden;
  opacity: 0;
}

.navbar.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.navbar,
.navbar-list,
.nav-btns {
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.nav-link,
.btn-link {
  padding: 6px 10px;
  color: var(--neutral-30);
  transition: var(--transition-duration-quick) var(--transition-easing-quick);
}

.btn-link {
  width: 100%;
  border-block-start: 1px solid var(--neutral-90);
  padding-block-start: 1.6rem;
}

:is(.nav-link, .btn-link):is(:hover, :focus),
.nav-link.active {
  color: var(--primary-100);
}

/* Hero Section Styling */

.hero {
  background-image: var(--gradient);
  color: var(--neutral-90);
  padding-block: 13rem 6rem;
}

.hero-heading {
  color: var(--neutral-100);
}

.hero-text {
  margin-block: 1.6rem 3.2rem;
}

.search-form {
  background-color: var(--white);
  padding: 8px;
  border-radius: 16px;
  box-shadow: var(--shadow-4);
  display: grid;
  gap: 8px;
}

.search-item {
  position: relative;
  color: var(--neutral-50);
}

.search-item {
  padding: 40px 16px 12px;
  /* height: 7.6rem; */
  width: 100%;
  cursor: pointer;
  border-radius: var(--radius-medium);
  transition: var(--transition-duration-quick) var(--transition-easing-quick);
}

:is(.search-item, .search-item-feild):is(:hover, :focus) {
  background-color: var(--neutral-95);
}

.search-item .material-symbols-rounded,
.label {
  position: absolute;
}

.search-item .label {
  top: 12px;
  left: 16px;
  color: var(--neutral-5);
}

.search-item .material-symbols-rounded {
  right: 16px;
  top: 50%;
  transform: translate(0, -50%);
  color: var(--primary-100);
}

.search-btn {
  gap: 1rem;
  border-radius: 12px;
}

/* Property Styling */

.property-text {
  margin-block: 8px 16px;
}

.property-section-des {
  margin-block-end: 3.2rem;
  display: grid;
}

.img-container {
  /* overflow: hidden;
  background-color: var(--neutral-90); */
  --width: 585;
  --height: 390;
  aspect-ratio: var(--width) / var(--height);
  /* height: 390px; */

  position: relative;
  /* width: 100%; */
  aspect-ratio: 585 / 390;
  overflow: hidden;
}

.listing-img {
  /* height: 100%;
  width: 100%;
  object-fit: cover; */
  width: 100%;
  height: 100%;
  object-fit: cover; /* cover the box fully */
  object-position: center; /* keep the important center visible */
  display: block;
}

.listing-card {
  border-radius: var(--radius-large);
  overflow: hidden;
  box-shadow: var(--shadow-2);
  transition: var(--transition-duration-quick) var(--transition-easing-quick);
}

.listing-card:where(:hover, :focus-within) {
  box-shadow: var(--shadow-4);
}

.card-banner {
  position: relative;
}

.badge,
.fav-btn {
  position: absolute;
  top: 20px;
}

.badge {
  left: 16px;
  background-color: var(--secondary-100);
  box-shadow: var(--shadow-3);
  border-radius: var(--radius-small);
  max-width: max-content;
  padding: 6px 16px;
}

.fav-btn {
  right: 16px;
  scale: 0.8;
  visibility: hidden;
  opacity: 0;
  transition: var(--transition-duration-quick) var(--transition-easing-quick);
}

.card-banner:where(:hover, :focus-within) .fav-btn {
  visibility: visible;
  opacity: 1;
  scale: 1;
}

.fav-icon {
  color: var(--error-100);
}
.fav-btn.active .material-symbols-rounded {
  font-variation-settings: "FILL" 1;
}

.listing-img {
  transition: var(--transition-duration-quick) var(--transition-easing-quick);
}

.listing-img:hover {
  scale: 1.05;
  rotate: 2deg;
}

.card-content {
  padding: 2rem 2rem 2.4rem;
}

.card-title {
  color: var(--neutral-20);
  margin-block: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-overflow: ellipsis;
  transition: var(--transition-duration-quick) var(--transition-easing-quick);
}

.card-title:where(:hover, :focus-visible) {
  color: var(--primary-100);
}

.listing-address {
  color: var(--neutral-40);
}

.card-info-icons {
  margin-top: 16px;
  border-block-start: 1px solid var(--neutral-90);
  padding-block-start: 16px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
}

.card-info-icons .info-icon {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--neutral-20);
}

.listings-container {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

/* Feature Styling */

.feat-img-container {
  overflow: hidden;
  width: 100%;
  border-radius: var(--radius-extra-large);
  aspect-ratio: 3/2;
}

.feat-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.feature-content {
  padding: 24px 16px 0;
}

.feat-text {
  margin-block: 16px;
}

.feat-ul {
  display: grid;
  gap: 12px;
}

.feature-li {
  display: flex;
  gap: 8px;
  /* color: var(--neutral-30); */
}

.feature-li .feature-icon {
  color: var(--primary-100);
  font-size: 2.2rem;
}

/* Video Section Stlylng */

.video-card {
  background: linear-gradient(0deg, #0000004d, #0000004d),
    url("./assset/img/video-card.jpg");
  height: 26rem;
  border-radius: 32px;
  display: grid;
  place-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.play-btn {
  width: 72px;
  aspect-ratio: 1;
  background-color: var(--neutral-100);
  border-radius: var(--radius-circle);

  display: grid;
  place-items: center;
  animation: pulse 1.5s var(--transition-duration-quick) forwards infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #ffffff80;
  }
  100% {
    box-shadow: 0 0 0 20px #ffffff00;
  }
}

.play-btn .material-symbols-rounded {
  color: var(--primary-100);
  font-size: 4rem;
  font-variation-settings: "FILL" 1;
}

/* Story Section Styling */

.story-section-des {
  display: grid;
  gap: 16px;
  margin-block-end: 32px;
}
.story-para {
  color: var(--primary-100);
}

.story-heading {
  margin-block: 12px;
}

.avtar-ul {
  display: flex;
  align-items: center;
}

.avtar {
  height: 46px;
  width: 60px;
  border-radius: var(--radius-full);
  border: 3px solid var(--neutral-98);
  position: relative;
  overflow: hidden;
}

.avtar:not(:first-child) {
  margin-inline: -10px;
}

/* Working code - option-1 */

.avtar:nth-child(4)::before {
  content: "99+";
  color: var(--neutral-100);
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
  width: 100%;
  display: grid;
  place-items: center;
  height: 100%;
  font-size: var(--fs-label-medium);
  line-height: var(--lh-label-medium);
  font-weight: var(--weight-semiBold);
  letter-spacing: var(--traking-p-05);
}

.story-listings {
  display: grid;
  gap: 16px;
}

.story-card {
  height: 360px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: var(--radius-large);
  overflow: hidden;

  position: relative;
  transition: var(--transition-duration-quick) var(--transition-easing-quick);
}

.story-card:where(:hover, :focus-visible) {
  scale: 0.99;
  box-shadow: var(--shadow-3);
}

.story-card-overlay {
  background: linear-gradient(180deg, #00000000 33.33%, #000000cc 100%);
  color: var(--white);
  inset: 0;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 24px;
}

.user-rating .rating-container {
  margin-block-start: 8px;
  display: flex;
  align-items: center;
}

.rating-text {
  margin-inline-start: 12px;
  color: var(--neutral-80);
}

.rating-container .material-symbols-rounded {
  font-variation-settings: "FILL" 1;
  color: var(--yellow);
}

.user-img {
  height: 56px;
  border-radius: var(--radius-circle);
  overflow: hidden;
  width: 56px;
  box-shadow: var(--shadow-3);
}

/* Footer Styling */
footer {
  margin-top: 6rem;
  background-color: var(--primary-20);
  color: var(--neutral-90);
}

footer .container {
  padding-block: 6rem;
  display: grid;
  gap: 24px;
}

.footer-para {
  margin-block: 16px;
}

.footer-nav p {
  margin-block-end: 16px;
}

.footer-ul {
  display: grid;
  gap: 16px;
}

.social-list {
  display: flex;
  gap: 10px;
}

/* Responsivness */

/* For >768px */

@media (min-width: 768px) {
  :root {
    --fs-headline-large: 5.2rem;
    --fs-headline-medium: 4rem;
    --fs-headline-small: 3.6rem;

    --lh-headline-large: 64px;
    --lh-headline-medium: 52px;
    --lh-headline-small: 48px;
  }

  .container {
    max-width: 720px;
  }

  .section {
    padding-block-start: 8rem;
  }

  /* Hero Styling */

  .hero {
    padding-block: 160px 100px;
  }

  .search-form {
    grid-template-columns: 160px 160px 1fr max-content;
    gap: 0;
  }

  .search-item .material-symbols-rounded {
    display: none;
  }

  .search-item:not(:last-of-type)::after {
    content: "";
    position: absolute;
    background: var(--neutral-90);
    width: 1px;
    left: 100%;
    top: 16px;
    bottom: 16px;
  }

  .search-btn {
    height: 100%;
  }

  /* Property Styling */

  .property-section-des {
    margin-block-end: 48px;
    grid-template-columns: 1fr max-content;
    align-items: center;
  }

  .property-text {
    margin-block-end: 0;
  }

  /* Feature Styling */

  .feature-content {
    padding-block-start: 32px;
  }

  .feat-text {
    margin-block: 16px 25px;
    line-height: 28px;
  }

  .feat-ul {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  /* Video Styling */

  .video-card {
    height: 400px;
  }

  .play-btn {
    height: 96px;
    width: 96px;
  }

  .play-btn .material-symbols-rounded {
    font-size: 4.8rem;
  }

  /* Story Section */

  .story-section-des {
    grid-template-columns: 1fr max-content;
    align-items: center;
    gap: 40px;
    margin-block-end: 48px;
  }
  .story-heading {
    margin-block: 16px;
  }

  .avtar {
    width: 80px;
    height: 60px;
  }

  .story-listings {
    grid-template-columns: 1fr 1fr;
  }

  footer {
    margin-top: 8rem;
  }

  footer .container {
    grid-template-columns: 1fr 1fr 1fr;
    padding-block: 80px;
  }

  .footer-branding {
    grid-column: 1/4;
  }

  .footer-para {
    max-width: 400px;
  }
}
